@page "/ImportView"
@using Microsoft.AspNetCore.Components.QuickGrid
@using P_3FA132_Gruppe_3_Frontend.Data.Models.Classes
@inherits Blazing.Mvvm.Components.MvvmOwningComponentBase<P_3FA132_Gruppe_3_Frontend.Data.ViewModels.ImportViewModel>

<PageTitle>Import</PageTitle>
<h3>ImportView</h3>

<p>Select your customer or reading file you want to upload...</p>
<InputFile OnChange="ViewModel.SelectFileCommand.ExecuteAsync"></InputFile>

<div>
    <button @onclick="ViewModel.UploadFileCommand.ExecuteAsync">Upload</button>
    <button @onclick="ViewModel.DeleteFileCommand.ExecuteAsync">Delete</button>
</div>


@if (ViewModel.IsReadingCsv)
{
    <QuickGrid TGridItem="Reading" Items="ViewModel.Readings!.AsQueryable()" Pagination="ViewModel.PaginationState">
        <TemplateColumn Context="reading" Title="Date of reading">
            <span>
                @reading.DateOfReading
            </span>
        </TemplateColumn>
        <TemplateColumn Context="reading" Title="Meter count">
            <span>
                @reading.MeterCount
            </span>
        </TemplateColumn>
        <TemplateColumn Context="reading" Title="Comment">
            <span>
                @reading.Comment
            </span>
        </TemplateColumn>
    </QuickGrid>
}

@if (ViewModel.IsCustomerCsv)
{
    <QuickGrid TGridItem="Customer" Items="ViewModel.Customers!.AsQueryable()" Pagination="ViewModel.PaginationState">
        <TemplateColumn Context="customer" Title="UUID">
            <span>
                @customer.Id
            </span>
        </TemplateColumn>
        <TemplateColumn Context="customer" Title="Gender">
            <span>
                @customer.Gender
            </span>
        </TemplateColumn>
        <TemplateColumn Context="customer" Title="First name">
            <span>
                @customer.FirstName
            </span>
        </TemplateColumn>
        <TemplateColumn Context="customer" Title="Last name">
            <span>
                @customer.LastName
            </span>
        </TemplateColumn>
        <TemplateColumn Context="customer" Title="Date of birth">
            <span>
                @customer.DateOfBirth
            </span>
        </TemplateColumn>

    </QuickGrid>
}

<div class="quickgrid-pagination">
    <Paginator State="ViewModel.PaginationState" />
</div>

@code {


}