<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        @* <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<link href="P_3FA132_Gruppe_3_Frontend.styles.css" rel="stylesheet"/>
<link href="css/quickgrid.css" rel="stylesheet"/>
<link href="css/sideBarItem.css" type="text/css" rel="stylesheet">
<link href="css/addReadingForm.css" type="text/css" rel="stylesheet">
<link href="css/EntityManagement.css" type="text/css" rel="stylesheet">
<link href="css/Export.css" type="text/css" rel="stylesheet">S
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">