@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            @* <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="P_3FA132_Gruppe_3_Frontend.styles.css" rel="stylesheet"/>
<link href="css/quickgrid.css" rel="stylesheet"/>
<link href="css/sideBarItem.css" type="text/css" rel="stylesheet">
<link href="css/addReadingForm.css" type="text/css" rel="stylesheet">
<link href="css/EntityManagement.css" type="text/css" rel="stylesheet">
<link href="css/countComponent.css" type="text/css" rel="stylesheet">
<link href="css/analyticsView.css" type="text/css" rel="stylesheet">
<link href="css/readingType.css" type="text/css" rel="stylesheet">
<link href="css/loadingSpinner.css" type="text/css" rel="stylesheet">
<link href="css/recentReading.css" type="text/css" rel="stylesheet">
<link href="css/readingActivity.css" type="text/css" rel="stylesheet">
<link href="css/usage.css" type="text/css" rel="stylesheet">
<script src="_content/PSC.Blazor.Components.Chartjs/lib/Chart.js/chart.js"></script>
<script src="_content/PSC.Blazor.Components.Chartjs/Chart.js" type="module"></script>
<link href="css/AuthComponent.css" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">